*{
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}
body{
    background-color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
}
.container{
    width: 1100px;
    margin: 0 auto;
    
    /* background-color: rgb(56, 56, 245); */
}
.nav{
    width: 100%;
    
    /* display: flex; */
/* height: 120px; */
/* align-items: center; */
/* justify-items: center; */
background-color: red;
    /* justify-content: center; */
}
.logo{
    color: rgb(61, 126, 61);
    margin-left: 10px;
    float: left;
    padding: 10px 0px;
}
.link-name1{
    float: right;
    margin-right: 10px;
    padding: 10px 0px;
}
.link-name2{
    margin-right: 10px;
    padding: 10px 0px;
    float: right;
}
.link-name3{
    margin-right: 10px;
    float: right;
    padding: 10px 0px;
}
.banner{
    width: 100%;
    float: left;
    
    /* opacity: 0.2; */
    position: relative;
}
.ban{
    width: 100%;
    float: left;
    color: black;
    opacity: 0.2;
    position: relative;
}
.tage{
    position: absolute;
    top: 10%;
    left: 3.5%;
    z-index: 1;
}
.banner-tage-line-1{
    font-size: 14px;
    color: white;
}
.banner-tage-line-2{
font-size: 27px;
font-weight: 700;
color: rgb(61, 126, 61);
/* color: #007bfc; */
/* color: rgba(9, 31, 230, 0.932); */
}
/* span{
    display: block;
} */
.img-box{
    width: 95%;
    margin: auto;
    position: relative;
    height: 100%;
    display: flex;
    /* margin-bottom: 2%; */
    /* display: block; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    /* border: 2px solid rgb(240, 14, 14); */
}
.img-hov{
    display: block;
    position: relative;
    margin: 1%;
}
.img-box-1{
    width: 47.5%;
    margin-top: 0px;
    height: max-content;
    float: left;
    /* position: absolute;
    width: 48.5%;
    left: 0;
    top: 0;*/
} 
.img-box-2{
    width: 47.5%;
    height: max-content;
    float: left;
    margin-top: 4%;

/* position: absolute;
  height: 25%;
  width: 48%;
  right: 0;
  top: 33px; */
}
.img-box-3{
     width: 21%;
    height: max-content; 
    float: left;
    margin-top: -2%;
    /* position: absolute;
  height: 33%;
  width: 35%;
  left: 33%;
  top: 50%; */
  /* bottom: 0; */
}
.img-box-4{
    width: 21%;
    float: left;
    height: max-content;
    margin-top: -2%;
    /* position: absolute;
  height: 25%;
  width: 20%;
  left: 37.5%;
  top: 45%; */
}
.img-box-5{
    width: 47.5%;
    height: max-content;
    float: left;
   /* position: absolute;
   height: 40%;
   width: 40%;
   right: 0;
   top: 30%; */
}
.img-box-6{
    position: absolute;
    width: 47.5%;
    float: left;
    height: max-content;
    top: 71%;
    left: 1%;  
    /* margin-top: -4%;    */
     /* 
     height: 25%;
     width: 62.5%;
     right: 0;
     bottom: 0; */
}
/* .mar{
    margin-top: -4%;
} */
.img-box-7{
    width: 21%;
    float: left;
    height: max-content;
      position: absolute;
     top: 100%;
     right: 24%; 

}
.img-box-8{
    width: 21%;
    height: max-content;
    float: left;
     position: absolute;
     top: 100%;
     right:1%;
}
.hover-img{
     position: relative;
   /* display: block; */
    /* background-color: black; */
    /* width: 100%; */
    /* height: auto; */
    float: left;
    width: 100%;
    height: 100%;
    /* height: auto; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
   
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(61, 126, 61);
    /* background-color: #008CBA; */
  }
  .img-tag{
color: white;
font-size: 15px;
  }
  .img-tag-1{
color: white;
font-size: 25px;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 30%;
    /* -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    text-align: center;
  }
.img-hov:hover .overlay{
    opacity: 0.5;
}
@media screen and (max-width: 1200px) {
    .container{
        width: 90%;
    }
}